.form-login {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.signin-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.label-text {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 20px;
}

input[type="text"],
input[type="password"] {
    display: flex;
    width: 550px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right:10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
}

.login-button button {
    display: block;
    width: 550px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.login-button button:hover {
    background-color: #3e8e41;
}

.text-input{
    justify-items: center;
}

.text-signup {
    color: #565656;
    font-size: 20px;
}