*{
    font-family: 'Poppins', sans-serif;
}

.send-input {
    padding: 30px;
  }

.chat-message-send{
  margin-top: 10px;
  width: 1105px;
  padding-left: 10px;
}

.send-button {
    background-color: rgb(105, 178, 202);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    border: none;
    box-sizing: border-box;
    height: 38px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .send-button:hover {
    background-color: blue;
    cursor: pointer;
    transition: 0.3s;
  }
