.input-username {
  width: 210px;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
  /* border: none; */
  border: 1px solid rgb(192, 192, 192);
}

.send-button-username {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: rgb(105, 178, 202);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 70px;
  font-family: "Poppins", sans-serif;
  height: 37px;
  border-radius: 4px;
}

.send-button-username:hover {
  background-color: blue;
}
